<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-uploadapk" version="1.0.2">
    <name>UploadApk</name>

    <description>An Android Cordova plugin to add hook after build complete to upload APK to a server.</description>
    <license>MIT</license>

    <keywords>cordova,android,hook,upload apk</keywords>
    <repo>https://github.com/bkrajendra/cordova-plugin-uploadapk.git</repo>
    <issue>https://github.com/bkrajendra/cordova-plugin-uploadapk/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <hook src="scripts/build-after.js" type="after_build" />
    </platform>
</plugin>